# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*_test


# Files
*~
Makefile
makefile
CMakeCache.txt
cmakecache.txt
cmakelists.txt
cmake_install.cmake
.DS_Store
meta.pb.cc 
meta.pb.h 
spatial.pb.cc 
spatial.pb.h 
system.pb.cc 
system.pb.h 
vector.pb.cc 
vector.pb.h


# Directories
build
CMakeFiles
cmakefiles
cmake-build-debug
cmake-build-release
*_autogen
debug
release
bindings


# Build properties
.buildopts
.idea/
*.cbp

